<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Animal Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!--/*@thymesVar id="animal" type="com.kamilzki.terraristic.domain.Animal"*/-->
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form th:object="${animal}" th:action="@{/commodity/animal/}" th:method="post">

                    <div th:if="${#fields.hasErrors('*')}" class="alert-danger">
                        <p>Please correct errors below.</p>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <div class="pannel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Edit Animal Information</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('name')}
                                   ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Animal name:</label>
                                        <input type="text" class="form-control" th:field="*{name}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Type of food:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('minTemperature')}
                                    ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Min temperature:</label>
                                        <input type="text" class="form-control" th:field="*{minTemperature}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('minTemperature')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('minTemperature')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                    <div class="col-md-4 form-group" th:class="${#fields.hasErrors('maxTemperature')}
                                    ? 'col-md-4 form-group has-error' : 'col-md-4 form-group'">
                                        <label>Max temperature:</label>
                                        <input type="text" class="form-control" th:field="*{maxTemperature}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('maxTemperature')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('maxTemperature')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                    <!--Problems with foods...-->
                                    <!--<div class="checkbox">-->
                                    <!--<input type="checkbox" name="foods"-->
                                    <!--th:each="tof : ${allTypeOfFoods}"-->
                                    <!--th:value="${tof.id}"-->
                                    <!--th:text="${tof.name}">-->
                                    <!--</div>-->
                                    <!--<ul>-->
                                    <!--<li th:each="tof : ${allTypeOfFoods}">-->
                                    <!--<input type="checkbox" th:field="*{foods}" th:value="${tof.id}" />-->
                                    <!--<label th:for="${#ids.prev('foods')}"-->
                                    <!--th:text="#{${'animal.typeOfFood: ' + tof.name}}">Types</label>-->
                                    <!--</li>-->
                                    <!--</ul>-->

                                    <!--<div th:each="currentClient, stat : ${allTypeOfFoods}">-->
                                    <!--<input type="checkbox"-->
                                    <!--th:name="|allTypeOfFoods[${stat.index}]|"-->
                                    <!--th:value="${currentClient.id}"-->
                                    <!--th:field="*{foods}"-->
                                    <!--th:text="${currentClient.name}"-->
                                    <!--/>-->
                                    <!--</div>-->

                                    <!--<div th:each="currentClient, stat : ${allTypeOfFoods}">-->
                                    <!--<td th:text="${stat}"></td>-->
                                    <!--<td>-->
                                    <!--<input type="checkbox"-->
                                    <!--th:name="|foods[${stat.index}]|"-->
                                    <!--th:value="${currentClient.id}"-->
                                    <!--th:checked="${currentClient.selected}"-->
                                    <!--th:field="*{foods[__${stat.index}__].selected}">-->
                                    <!--</td>-->
                                    <!--</div>-->

                                    <!--<div th:each="item : ${allTypeOfFoods}">-->
                                    <!--<input type="checkbox" name="foods" th:value="${item.id}" />-->
                                    <!--<label th:text="${item.name}">example</label>-->
                                    <!--</div>-->
                                    <div class="col-md-3 form-group">
                                        <label>Category:</label>
                                        <select class="form-control" name="categoryOfAnimal.id">
                                            <!--/*@thymesVar id="allCategories" type="com.kamilzki.terraristic.domain.CategoryOfAnimal"*/-->
                                            <option th:each="coa : ${allCategories}"
                                                    th:value="${coa.id}"
                                                    th:selected="${coa.id.equals(animal.categoryOfAnimal.id)}"
                                                    th:text="${coa.nameCategory}">Each
                                            </option>
                                        </select>
                                    </div>
                                    <!--<div class="col-md-3 form-group">-->
                                    <!--<label>Category:</label>-->
                                    <!--<select class="form-control" th:field="*{categoryOfAnimal}">-->
                                    <!--<option value="NULL">&#45;&#45;Select&#45;&#45;</option>-->
                                    <!--<option th:each="coaEach : ${allCategories}"-->
                                    <!--th:value="${coaEach.id}"-->
                                    <!--th:text="${coaEach.nameCategory}">Each</option>-->
                                    <!--</select>-->

                                    <!--&lt;!&ndash;<select class="form-control" name="categoryOfAnimalService.id">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option th:each="coaEach : ${allCategories}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:value="${coaEach.id}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:selected="${coaEach.id.equals(animal.categoryOfAnimal.getId())}"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:readonly="(${coaEach.id} == *{categoryOfAnimal.id})"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:attr="coaEach=${coaEach.id}, categoryid=*{categoryOfAnimal.id}, showselected=(${coaEach.id} == *{categoryOfAnimal.id})"&ndash;&gt;-->
                                    <!--&lt;!&ndash;th:text="${coaEach.nameCategory}">Each</option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<select class="form-control" th:name="*{categoryOfAnimal.id}">&ndash;&gt;-->
                                    <!--<option th:each="difficultyValue : ${(com.kamilzki.terraristic.domain.CategoryOfAnimal)<select class="form-control" th:field="*{categoryOfAnimal}">-->
                                    <!--<option th:each="difficultyValue : ${(com.kamilzki.terraristic.domain.CategoryOfAnimal).values()}"-->
                                    <!--th:value="${difficultyValue.name()}"-->
                                    <!--th:text="${difficultyValue.name()}"-->
                                    <!--&gt;val</option>-->
                                    <!--</select>-->
                                    <!--th:value="${difficultyValue.nameCategory()}"-->
                                    <!--th:text="${difficultyValue.nameCategory()}"-->
                                    <!--&gt;val</option>-->
                                    <!--</select>-->
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('price')}
                                    ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Price:</label>
                                        <input type="text" class="form-control" th:field="*{price}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('price')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Description</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 form-group" th:class="${#fields.hasErrors('description')}
                                    ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                        <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                                        <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button th:method="post" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>