<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Animal</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!--/*@thymesVar id="animal" type="com.kamilzki.terraristic.domain.Animal"*/-->
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-3">
                                    <h1 class="panel-title" th:text="${animal.getName()}">Dog</h1>
                                </div>

                                <div class="col-md-8">
                                    <a class="btn btn-default" href="#"
                                       th:href="@{'/commodity/animal/' + ${animal.id} + '/image'}" role="button">Change
                                        Image</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Type of food:</h5>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li th:remove="all">type one</li>
                                        <li th:remove="all">type two</li>
                                        <li th:each="food : ${animal.foods}" th:text="${food.getNameFood()}">type
                                            three
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <img src="../../../static/images/pogona_vitticeps.jpg"
                                         th:src="@{'/commodity/animal/' + ${animal.id} + '/animalimage'}"
                                         width="200" height="200">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Category:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${animal.getCategoryOfAnimal().getNameCategory()}">Insect</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Min temperature:</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${animal.getMinTemperature()}">20</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Max temperature</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${animal.getMaxTemperature()}">28</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Price</h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:text="${animal.price + ' zł'}">140 zł</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Description</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${animal.getDescription()}">
                                        Some description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default" th:href="@{'/'}" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>